<nav class="navbar">
    <div class="nav-content">
        <button class="hamburger" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-links">
            <a style="font-size:30px; margin-right:200px" class="active">FITZONE</a>

            {% if user.is_authenticated %}
                {% if user.groups.all.0.name == 'Тренер' %}
                    <!-- Меню для тренера -->
                    <a href="{% url 'trainerservice:trainer_home' %}" {% if request.resolver_match.url_name == 'trainer_home' %}class="active"{% endif %}>Главная</a>
                    <a href="{% url 'trainerservice:trainer_classes' %}" {% if request.resolver_match.url_name == 'trainer_classes' %}class="active"{% endif %}>Мои занятия</a>
                    <a href="{% url 'trainerservice:my_clients' %}" {% if request.resolver_match.url_name == 'my_clients' %}class="active"{% endif %}>Мои клиенты</a>
                {% elif user.groups.all.0.name == 'Менеджер по продажам' %}
                    <!-- Меню для менеджера -->
                    <a href="{% url 'menegerservice:manager_home' %}" {% if request.resolver_match.url_name == 'manager_home' %}class="active"{% endif %}>Главная</a>
                    <a href="{% url 'menegerservice:create_subscription' %}" {% if request.resolver_match.url_name == 'create_subscription' %}class="active"{% endif %}>Абонементы</a>
                    <a href="{% url 'menegerservice:reports' %}" {% if request.resolver_match.url_name == 'reports' %}class="active"{% endif %}>Отчеты</a>
                    <a href="{% url 'menegerservice:subscriptions_list' %}" {% if request.resolver_match.url_name == 'subscriptions_list' %}class="active"{% endif %}>Все абонементы</a>
                {% elif user.groups.all.0.name == 'Администратор' %}
                    <!-- Меню для администратора клуба -->
                    <a href="{% url 'adminservice:admin_dashboard' %}" {% if request.resolver_match.url_name == 'admin_dashboard' %}class="active"{% endif %}>Главная</a>
                    <a href="{% url 'adminservice:action_logs' %}" {% if request.resolver_match.url_name == 'action_logs' %}class="active"{% endif %}>Логи действий</a>
                    <a href="{% url 'adminservice:backup_management' %}" {% if request.resolver_match.url_name == 'backup_management' %}class="active"{% endif %}>Бэкапы и данные</a>
                    <a href="{% url 'adminservice:staff_management' %}" class="nav-link">Сотрудники</a>
                {% else %}
                    <!-- Меню для клиента -->
                    <a href="{% url 'home' %}" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Главная</a>
                    <a href="{% url 'classes' %}" {% if request.resolver_match.url_name == 'classes' %}class="active"{% endif %}>Тренировки</a>
                    <a href="{% url 'subscription' %}" {% if request.resolver_match.url_name == 'subscription' %}class="active"{% endif %}>Абонементы</a>
                    <a href="{% url 'personal_training' %}" {% if request.resolver_match.url_name == 'personal_training' %}class="active"{% endif %}>Персональные тренировки</a>
                {% endif %}
                
                <!-- Общие пункты меню для всех авторизованных -->
                <a href="{% url 'profile' %}" class="btn-auth">Мой профиль</a>
                <a href="{% url 'logout' %}" class="btn-auth">Выйти</a>
            {% else %}
                <!-- Меню для неавторизованных -->
                <a href="{% url 'home' %}" {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Главная</a>
                <a href="{% url 'classes' %}" {% if request.resolver_match.url_name == 'classes' %}class="active"{% endif %}>Тренировки</a>
                <a href="{% url 'subscription' %}" {% if request.resolver_match.url_name == 'subscription' %}class="active"{% endif %}>Абонементы</a>
                <a href="{% url 'personal_training' %}" {% if request.resolver_match.url_name == 'personal_training' %}class="active"{% endif %}>Персональные тренировки</a>
                <a href="{% url 'login' %}" class="btn-auth">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>